@{
    ViewBag.Title = "Naslovnica";
}

<h5 class="m-3">
    Dobrodošli na stranice našeg autoservisa! Na @Html.ActionLink("ovom", "Register", "Account", null, null) linku možete stvoriti novi korisnički profil. Ukoliko već posjedujete korisnički profil,
    @Html.ActionLink("prijavite se", "Login", "Account", null, null)
</h5>
