@model Autoservis.ZaposlenikInfoList

@{
    ViewBag.Title = "Zaposlenici";
}

<table class="tablica">
    <tr>
        <th>
            Zaposlenik
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.NazOsobe, "Details", new { IdZaposlenika = item.IdZaposlenika })
            </td>
            <td>
                @using (Html.BeginForm("Delete", "Zaposlenik", new { IdZaposlenika = item.IdZaposlenika }))
                {
                    <a class="delete">Obriši</a>
                }
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Novi Zaposlenik", "Create")
</p>
