@model Autoservis.BLL.ZaposlenikInfoList

@{
    ViewBag.Title = "Zaposlenici";
}

<table class="table table-striped table-dark">
    <tr>
        <th>
            Prezime
        </th>
        <th>
            Ime
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)

    {
        <tr>
            <td>
                @Html.Encode(item.Prezime)
            </td>
            <td>
                @Html.Encode(item.Ime)
            </td>
            <td class="text-right">
                @Html.ActionLink("Detalji", "Details", new { IdZaposlenika = item.IdZaposlenika}, new { @class = "btn-sm btn-primary", style = "text-decoration:none;" })
                @using (Html.BeginForm("Delete", "Klijent", new { IdZaposlenika = item.IdZaposlenika }, FormMethod.Post, new { style = "display:inline;" }))
                {
                    <a class="delete btn-sm btn-danger">Obriši</a>
                }
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Novi Zaposlenik", "Create")
</p>
