@model Autoservis.BLL.ObradaSudioniciList

@if (false)
{
    <script src="../../Scripts/jquery-1.5.1-vsdoc.js" type="text/javascript"></script>
}

<table class="tablica">
    <tr>
        <th>
            Naziv obrade
        </th>
        <th>
            Broj popravaka
        </th>

    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.NazivObrade, "Details", "Obrada", new { IdObrade = item.IdObrade }, null)
            </td>

            <td>
                @Html.TextBox("Broj popravaka",Model.GetObradaSudionici(item.IdObrade).BrojPopravaka,
                                new { @class = "ddlBroj", data_idobrade = item.IdObrade, data_idzaposlenika = ViewData["IdZaposlenika"] }
                )
                <span class="rezultat"></span>
            </td>
            
        </tr>
    }

</table>

<script type="text/javascript" language="javascript">
    $(function () {
        $('.ddlBroj').each(function () { // svakoj kontroli s css klasom ddlUloga
            $(this).change(function () { // dodaje se kod događaja pri promjeni odabranog u listi
                var span = $(this).parent().find(".rezultat").first(); // span pored liste za rezultat
                // odabrani value u listi, vlastiti atribut sif, vlastiti atribut idosobe, prostor za rezultat
                promijeniBroj($(this).val(), $(this).data('idobrade'), $(this).data('idzaposlenika'), span);
            }
            );
        }
        );
    }
    );

    // ajax post zahtjev na controller
    // vrti se na klijentu ali šalje .post na server
    function promijeniBroj(broj, idobrade, idosobe, span) {
        // pozovem kontroler Projekt, akciju PromijeniUlogu
        $.post(appRoot + "Obrada/PromijeniBroj",
            { IdZaposlenika: idosobe, IdObrade:idobrade , NoviBroj:broj },
            function (data) {  // nakon izvršavanja sa servera
                $(span).html('').fadeIn(); // počisti span
                if (data == 'OK') { // pokaži OK i nestani
                    $(span).html(data).fadeOut(1000); // ... nakon 1s
                }
                else { // pokaži što je vratio server, npr. error
                    $(span).html(data);
                }
            }
        );
    }
</script>
