@model IEnumerable<Autoservis.BLL.ZaposlenikInfo>

@{
    ViewBag.Title = "Odabir zaposlenika";
}

<table class="tablica">
    <tr>
        <th>
            Osoba
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.NazOsobe
            </td>
            <td>
                @Html.ActionLink("Dodaj osobu", "DodijeliZaposlenika", "Obrada", new { IdZaposlenika = item.IdZaposlenika, IdObrade = ViewData["IdObrade"] }, null)
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Povratak", "Details", "Obrada", new { IdObrade = ViewData["IdObrade"] }, null)
</p>


