body
{   
    background-color: #DEDEDE;
	height:100vh;
}

header,
footer,
nav,
section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
    border: 1px solid #999999;
    width: inherit;
    margin: 5px 0;
    padding: 3px;
    
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Naknadno dodano...*/


a:hover
{
	text-decoration: underline;
}

a.btn-sm {
	text-decoration: none
}

a.btn-sm:hover {
	text-decoration: none;
}

#mainTable 
{
  border: solid 1px #000000; 
  width: 798px; 
  height: 90%; 
  min-height: 100%;
  padding: 0px; 
  border-collapse: collapse; 
  margin-left: auto;
    margin-right: auto; 
    background-color: #FFFFFF;
}

/*
#header 
{
  background-image: url('images/background.jpg'); 
  background-repeat: no-repeat;
  height: 64px; 
  line-height: 60px; 
  text-align: left; 
  color: #FFFFFF;
  font-family: Verdana; 
  font-size: 20px;
  font-weight: bold; 
  font-style: italic; 
  padding-left: 10px
}*/

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: blue;
    display: block;
}

#navigation 
{
  float: left; 
  width: 150px; 
  background-color: #000000; 
  height: 250px;
  margin-left:-1px
  
}

#navigationContent 
{
  color: #FFFFFF;  
  margin-left: 25px; 
  white-space: nowrap;
  margin-top: 30px;  
}

#navigationContent  table
{
	border-spacing: 0px;	
	border-collapse: collapse;	
}

#navigationContent td
{	
	padding:0px;
}

#navigationContent a
{
	color: blue;
	font-size: 12px;	
	text-decoration: none;
	font-family: Verdana;   
  font-weight: bold; 
  font-style: italic;   
}

#navigationContent  a:hover {
	text-decoration: underline;
}

#content 
{
  font-family: Verdana; 
  font-size: 9pt;
  float: left; 
  padding: 10px; 
  padding-top: 10px; 
  width: 625px;
}

.tablica
{		
	color: black;
	background-color: white;
	border-color: #999;
	border-width: 1px;
	border-style: Solid;
	border-collapse: collapse;
}

.tablica th
{
	background-color:Black;
	color:White;
	font-weight:bold;		
	border: 1px solid;
	border-spacing: 0px;
	border-color: #999;
	padding: 3px;
}

.tablica tr a
{
	font-family:Verdana;
	font-size: 9pt;
	text-decoration: none;	
	color: Black;
	border-spacing: 0px;	
}

.tablica td
{
		padding: 3px;
		border-right: 1px solid;
	border-spacing: 0px;
	border-color: #999;
}

 .zebra
 {
 	background-color:#DEDEDE;
 }
 
.tablica a:hover {
	text-decoration: underline;
}

.noviPodatak
{
	color: black;
	background-color: white;
	border-color: #999;
	border-width: 1px;
	border-style: Solid;	
	border-collapse: collapse;
	
}

.delete, .submit
{
	cursor:pointer;
}

.error
{
	color:Red;
	font-weight:bold;
}

/*my styles*/
body {
	height: 100vh;
}

#header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 72px;
	z-index:1;
}

#sidebar {
	width: 200px;
	height: 100vh;
	overflow-y: scroll;
	position: fixed;
	
	z-index: 1;
}

#main {
	background-color: aquamarine;
	height: 2000px;
	
	margin-left: 200px;
}

#toggleSidebar {
	border: 1px solid white;
	border-radius: 3px;
}

#toggleSidebar {
	display: none;
}

@media(max-width:800px) {
	#sidebar {
		display: none;
	}

		#sidebar.show {
			display: inherit;
		}

	#main {
		margin-left: 0;
	}

	#toggleSidebar {
		display: inline;
	}
}

